.tags > div{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #dcc7ff;
    color: #673ab7;
    border-radius: 7px;
}

.question-container{
    margin:1rem;
    padding:1rem;
}