<div class="dashboard-container">
    <div class="card-container">
        <mat-card>
            <mat-card-header>
                <h2>Questions</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="card-overlay yellow">
                    <mat-icon class="card-icon">analytics</mat-icon>
                </div>
                <h1>{{questions.length}}</h1>
            </mat-card-content>
            <mat-card-actions>
                <mat-divider></mat-divider>
                &nbsp;
                <p (click) = 'onOpenQuestion()'>Display all question..</p>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <h2>Answers</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="card-overlay green">
                    <mat-icon class="card-icon">spellcheck</mat-icon>
                </div>
                <h1>{{answers.length}}</h1>
            </mat-card-content>
            <mat-card-actions>
                <mat-divider></mat-divider>
                &nbsp;
                <p (click) = 'onOpenAnswer()'>Display all answer..</p>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <h2>Users</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="card-overlay purple">
                    <mat-icon class="card-icon">person</mat-icon>
                </div>
                <h1>{{users.length}}</h1>
            </mat-card-content>
            <mat-card-actions>
                <mat-divider></mat-divider>
                &nbsp;
                <p (click) = 'onOpenUser()'>Display all users..</p>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <h2>Reports</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="card-overlay red">
                    <mat-icon class="card-icon">report</mat-icon>
                </div>
                <h1>{{reportedQuestion.length + reportedAnswer.length + reportedUser.length}}</h1>
            </mat-card-content>
            <mat-card-actions>
                <mat-divider></mat-divider>
                &nbsp;
                <p (click) = 'onOpenReportedQuestion()'>Display all reported..</p>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    See reported questions
                </mat-panel-title>
                <mat-panel-description>
                    Expand to check
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor='let question of reportedQuestion;let i=index'>
                <div class="reported-container">
                    <div class="row">
                        <div class="col-md-11" style='font-size: 1.1rem;'> 
                            <span [routerLink]="['/question/'+question._id]">
                                <p class = 'activated' [ngClass]="question.admin_action == 'Enabled' ? 'green': 'red'"></p>
                                <strong>Question: </strong>{{question.question}} <br>
                                <strong>Description: </strong>{{question.description}}
                            </span>
                            <div class="row">
                                <div class='col-md-5' *ngIf='isHidden[i]'>
                                    <mat-form-field appearance="fill" *ngIf='isHidden[i]'>
                                        <mat-label>Admin action</mat-label>
                                        <mat-select [(ngModel)]="selectedAction" name="action">
                                          <mat-option *ngFor="let action of actions" [value]="action.value">
                                            {{action.value}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class='col-md-7' *ngIf='isHidden[i]'>
                                    <mat-form-field *ngIf='isHidden[i]' style="margin-top:0px;">
                                        <mat-label>Leave a comment</mat-label>
                                        <input matInput [(ngModel)]="admin_action_comment" placeholder="Ex. It makes me feel...">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button mat-mini-fab (click)='updateQuestion(question._id,i)' *ngIf='isHidden[i]' style="color:seagreen;background-color: rgba(0, 255, 128, 0.384);"><mat-icon>check</mat-icon></button>
                            <button mat-mini-fab (click)='unhideQuestion(i)' *ngIf='!isHidden[i]'><mat-icon>create</mat-icon></button>
                            <button mat-icon-button (click)='hide(i)' color='primary' *ngIf='isHidden[i]' ><mat-icon>close</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    See reported answers&nbsp;&nbsp;&nbsp;
                </mat-panel-title>
                <mat-panel-description>
                    Expand to check
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor='let answer of reportedAnswer;let i=index'>
                <div class="reported-container">
                    <div class="row">
                        <div class="col-md-11" style='font-size: 1.1rem;'>
                            <span [routerLink]="['/question/'+answer.question.question._id]">
                                <p class = 'activated' [ngClass]="answer.admin_action == actions[0].value ? 'green': 'red'"></p>
                                <strong>Question: </strong>{{answer.question.question}}
                                <br>
                                <strong>Answer: </strong>{{answer.answer}}
                            </span>
                            <div class="row">
                                <div class='col-md-5' *ngIf='isHidden[i]'>
                                    <mat-form-field appearance="fill" *ngIf='isHidden[i]'>
                                        <mat-label>Admin action</mat-label>
                                        <mat-select [(ngModel)]="selectedAction" name="action">
                                          <mat-option *ngFor="let action of actions" [value]="action.value">
                                            {{action.value}}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class='col-md-7' *ngIf='isHidden[i]'>
                                    <mat-form-field *ngIf='isHidden[i]' style="margin-top:0px;">
                                        <mat-label>Leave a comment</mat-label>
                                        <input matInput [(ngModel)]="admin_action_comment" placeholder="Ex. It makes me feel...">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button mat-mini-fab (click)='updateAnswer(answer._id,i)' *ngIf='isHidden[i]' style="color:seagreen;background-color: rgba(0, 255, 128, 0.384);"><mat-icon>check</mat-icon></button>
                            <button mat-mini-fab (click)='unhideAnswer(i)' *ngIf='!isHidden[i]'><mat-icon>create</mat-icon></button>
                            <button mat-icon-button (click)='hide(i)' color='primary' *ngIf='isHidden[i]'><mat-icon>close</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    See reported users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </mat-panel-title>
                <mat-panel-description>
                    Expand to check
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor='let user of reportedUser;let i=index'>
                <div class="reported-container">
                    <div class="row">
                        <div class="col-md-1">
                            <div [ngStyle]="{'background-image':'url('+ url +')'}" class="img-container"></div>
                        </div>
                        <div class="col-md-3" style='font-size: 1.1rem;'>
                            <p class = 'activated' [ngClass]="user.admin_action == actions[0].value ? 'green': 'red'"></p>
                            {{user.name}}<br>
                            <strong [routerLink]="['/profile/'+user._id]">@{{user.username}}</strong>
                        </div>
                        <div class="col-md-2" style='font-size: 1.1rem;'>
                            <mat-form-field appearance="fill" *ngIf='isHidden[i]'>
                                <mat-label>Admin action</mat-label>
                                <mat-select [(ngModel)]="selectedAction" name="action">
                                  <mat-option *ngFor="let action of actions" [value]="action.value">
                                    {{action.value}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5" style='font-size: 1.1rem;'>
                            <mat-form-field *ngIf='isHidden[i]' style="margin-top:0px;">
                                <mat-label>Leave a comment</mat-label>
                                <input matInput [(ngModel)]="admin_action_comment" placeholder="Ex. It makes me feel...">
                            </mat-form-field>
                        </div>
                        <div class="col-md-1">
                            <button mat-mini-fab (click)='updateUser(user._id,i)' *ngIf='isHidden[i]' style="color:seagreen;background-color: rgba(0, 255, 128, 0.384);"><mat-icon>check</mat-icon></button>
                            <button mat-mini-fab (click)='unhide(i)' *ngIf='!isHidden[i]'><mat-icon>create</mat-icon></button>
                            <button mat-icon-button (click)='hide(i)' color='primary' *ngIf='isHidden[i]'><mat-icon>close</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>