<div class="dashboard-container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assessment</i>
                    </div>
                    <p class="card-category">Questions</p>
                    <h3 class="card-title">{{question.length}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="javascript:;">Ask more questions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">spellcheck</i>
                    </div>
                    <p class="card-category">Answers</p>
                    <h3 class="card-title">{{answer.length}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="javascript:;">Answer more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">group</i>
                    </div>
                    <p class="card-category">Followers</p>
                    <h3 class="card-title">{{user.followers.length}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="javascript:;">Follow more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">thumb_up</i>
                    </div>
                    <p class="card-category">Likes</p>
                    <h3 class="card-title">{{like}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="javascript:;">Perform better</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <h4 class="card-title">Questions</h4>
                    <p class="card-category">Asked</p>
                </div>
                <div class="value-container">
                    <div *ngFor='let questions of question'>
                        <app-question-template [question]='questions'></app-question-template>
                         
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Questions</h4>
                        <p class="card-category">Answers</p>
                    </div>
                <div class="value-container">
                    <div *ngFor='let answers of answer'>
                        <app-answer-template [answer] = 'answers'></app-answer-template>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>